<a href="https://colab.research.google.com/github/ValFerreiraAlv/calculadora-de-aluguel/blob/main/scrap_mercado_livre_aula_ao_vivo_Val.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imports
import requests
from bs4 import BeautifulSoup
import pandas as pd
from time import sleep

In [ ]:
c=requests.get('https://imoveis.mercadolivre.com.br/aluguel/').content

In [ ]:
# Parameters
zonas = ['norte', 'sul', 'leste', 'oeste']
URL='https://imoveis.mercadolivre.com.br/casas/aluguel/sao-paulo/sao-paulo-zona-{}/{}'
paginas = ['', '_Desde_49', '_Desde_97', '_Desde_145', '_Desde_193', 
           '_Desde_241', '_Desde_289']

In [ ]:
# Functions
def scrap(url):
    c=requests.get(url).content
    soup=BeautifulSoup(c)
    aluguel_tags = soup.find_all('span', {'class':'price-tag-fraction'})
    alugueis_lista = [p.text for p in aluguel_tags]
    enderecos_tags = soup.find_all('span', {'class':'ui-search-item__group__element'})
    enderecos_lista=[end.text for end in enderecos_tags]
    enderecos_lista=enderecos_lista[1::2]
    area_quartos_tags = soup.find_all('ul', {'class':'ui-search-card-attributes'})
    area_quartos_lista=[aq.text for aq in area_quartos_tags]
    df=convert_df(zona, area_quartos_lista, enderecos_lista, alugueis_lista)
    return df

def convert_df(zona, area_quartos_lista, enderecos_lista, alugueis_lista):
    zonas_lista = [zona]*len(alugueis_lista)
    data = {'zona': zonas_lista,
            'area_quartos': area_quartos_lista,
            'enderecos_lista':enderecos_lista,
            'aluguel': alugueis_lista}
    df = pd.DataFrame(data)
    return df

In [ ]:
zona='sul'

In [ ]:
'https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-{}/'.format(zona)

'https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/'

In [ ]:
lista_dfs = []
for zona in zonas:
    for pg in paginas:
        url='https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-{}/'.format(zona, pg)
        print(url)
        df=scrap(url)
        lista_dfs.append(df)
        sleep(1)

https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/

In [ ]:
pd.concat(lista_dfs)

     zona  ... aluguel
0   norte  ...   1.080
1   norte  ...   1.200
2   norte  ...   2.600
3   norte  ...   1.050
4   norte  ...   1.260
..    ...  ...     ...
43  oeste  ...   4.500
44  oeste  ...   2.200
45  oeste  ...  10.000
46  oeste  ...   2.000
47  oeste  ...   5.000

[1344 rows x 4 columns]

In [ ]:
df.head()

    zona  ...  aluguel
0  oeste  ...   51.450
1  oeste  ...    1.500
2  oeste  ...  150.000
3  oeste  ...    1.500
4  oeste  ...    1.400

[5 rows x 4 columns]

In [ ]:
df.to_csv('dados_aluguel_ml_sao_paulo.csv', index=False, encoding='latin-1')

**Primeiras Manipulações**

In [ ]:
##Primeiras Manipulações##